/*로그인 화면*/
.body {
    height: 100vh;
    display: flex;
}

.main {
    max-width: 500px;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    padding-top: 40px;
    height: 350px;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(119, 167, 144, 0.192);
}

.form-field {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
}

.form-field input {
    border: none;
    padding: 5px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.44);
    height: 30px;
    outline: none;
    transition: border-bottom 0.1s ease-in-out 0.1s;
}

.form-field input:focus {
    border-bottom: 1px solid rgba(111, 153, 143, 0.432);
}

.btn-main {
    border: none;
    background: #4e817269;
    color: white;
    font-weight: bold;
    width: 30%;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

h2 {
    color: #4e817269;
}

p {
    color: rgba(116, 116, 116, 0.44);
    font-size: small;
    margin: 0;
    cursor: pointer;
}