/*로그인 화면*/
.body {
    height: 100vh;
    display: flex;
}

.main {
    max-width: 450px;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    padding-top: 10px;
    height: 300px;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(119, 167, 144, 0.192);
}

.btn {
    background: none;
    border: none;
    align-self: center;
    color: #000000;
    font-weight: bold;
}

.form-field {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
}

.form-field input {
    border: none;
    padding: 5px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.44);
    height: 30px;
    transition: border-bottom 0.1s ease-in-out 0.1s;
}

.form-field input:focus {
    border-bottom: 1px solid rgba(111, 153, 143, 0.432);
}

.organize-form h2 {
    font-size: 1.4em;
    font-weight: normal;
}

.organize-form h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background: rgba(119, 167, 144, 0.719);
    margin: 0 auto;
}

.btn-sign {
    border: none;
    background: #4e817269;
    color: white;
    font-weight: bold;
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-sign {
    border: none;
    background: #4e817269;
    color: white;
    font-weight: bold;
    width: 30%;
    padding: 10px;
}