.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* === 공통 CSS === */
/* 기본 버튼 */
.btn-main{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30%;
    padding: 10px;
    font-weight: bold;
    line-height: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
    overflow: hidden;
    background: #4e817269;
    color: white;
    position: relative;
    overflow: hidden;
}

.swal2-confirm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    padding: 10px;
    font-weight: bold;
    line-height: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
    overflow: hidden;
    background: #4e817269;
    color: white;
    position: relative;
    overflow: hidden;
}

/* 활성/비활성 토글버튼 */
.btn-main.disabled {
    transition: all 0.4s ease-in-out;
    background: #8C7E9E;
    color: white;
}
